footer {
    background-color: var(--color-primary-2);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 100%;
    min-height: 48px;

}

footer #footer_items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 8% 12px 8%;
    width: 100%;
   
}

footer #footer_items .copyright {
    color: var(--color-neutral-1);
    font-weight: 500;
    width: 100%;
    text-align: center;

}

@media screen and (max-width: 600px) {
    footer #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}
