


section {
    padding: 28px 8%;
    text-align: center; /* Centraliza o conteúdo */
}

#minhasReservas {
     /* Fundo neutro para a seção */
    border-radius: 10px;
    padding: 20px; /* Padding adicional para a seção */
}

.reservations {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 16px;
}

.reservation {
    background-color: var(--color-neutral-0); /* Fundo neutro para cada reserva */
    border-radius: 10px;
    padding: 16px;
    width: calc(25% - 16px); /* Até quatro reservas por linha */
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.btn-Res {
    width: 30%;
    margin-top: 20px;
}

a {
    text-decoration: none;
}



/* Responsividade */
@media screen and (max-width: 800px) {
    .reservation {
        width: calc(50% - 16px); /* Duas reservas por linha */
    }
}

@media screen and (max-width: 600px) {
    .reservation {
        width: 100%;
    }
}
