#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle {
    font-size: 3rem;
    text-align: center;  /* Centraliza o subtítulo */
}

#testimonials_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Alinha todo o conteúdo ao centro */
    justify-content: center;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback {
    display: flex;
    align-items: center;
    justify-content: center;  /* Centraliza os itens dentro do feedback */
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza o conteúdo do depoimento */
    gap: 8px;  /* Espaço entre o nome e as estrelas */
    text-align: center;
}

.feedback-content p {
    display: block;  /* Garante que o nome do cliente fique em uma linha */
}

.feedback-content p span {
    color: var(--color-primary-6);
    display: flex;
    justify-content: center;  /* Centraliza as estrelas */
    gap: 5px;  /* Adiciona espaço entre as estrelas */
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
        align-items: center;
    }

    #testimonials .section-subtitle {
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
        align-items: center;
    }
}
